---
import { getCollection } from 'astro:content';
import PostList from '../components/PostList.astro';
import SearchToolbar from '../components/SearchToolbar.astro';
import MainLayout from '../layouts/MainLayout.astro';

const posts = (await getCollection('blog'))
	.filter((post) => post.data.type === 'note')
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<MainLayout title="笔记" description="较长内容的笔记列表">
	<SearchToolbar placeholder="搜索笔记..." />
	<section class="section-card">
		<div class="section-card__head">
			<h1>笔记</h1>
			<span>{posts.length} 篇</span>
		</div>
		<PostList posts={posts} />
	</section>
</MainLayout>
